@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #020202;
  overflow-x: hidden;
}

.App {
  font-family: 'Roboto Mono', monospace;
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.title {
  font-weight: 900;
  font-size: 20px;
  margin-top: -10px;
  color: #dedede
}

.des {
  font-size: 25px;
  color: #909090;
  margin-top: 40px;
  text-align: center;
  margin-top: 10px;
}

.coming {
  font-size: 100px;
  font-weight: 700;
  color: #fff;
  font-family: 'Pacifico', cursive;
  background-image: linear-gradient(45deg, #ffffff, #f78200, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  margin-top: 70px;
}

.icon {
  color: #dedede;
  margin: 10px;
  cursor: pointer;
  width: 50px;
}

.icons {
  margin-top: 70px;
}

@media only screen and (max-width: 600px) {
  .coming {
    font-size: 60px;
  }

  .des {
    font-size: 20px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1200px) {
  .coming {
    font-size: 80px;
  }

  .des {
    font-size: 25px;
  }
}